<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

RewriteBase /admin/

# General rules for MVC
RewriteRule ^$ index.php/admin/dashboard/stats [L]
RewriteRule ^(.*).html$ index.php/admin/$1 [L]

</IfModule>
