.buildpath
.project
.settings/
_gulp/node_modules/*
_gulp/package-lock.json
_js/translations.js
_test/phpunit/phpunit
_test/codeception/codecept

public_html/files/images/categories/*.jpg
public_html/files/images/categories/*.png
