<phpunit
        colors="true"
        
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        
        verbose="true"
>
    <testsuites>
        <testsuite name="main">
            <file>./BaseTest.test.php</file>
            <file>./Filter.test.php</file>
            <file>./Html.test.php</file>
            <file>./Http.test.php</file>
        </testsuite>
        <testsuite name="lib">
            <directory suffix=".test.php">./_lib</directory>
        </testsuite>
        <testsuite name="controller">
            <directory suffix=".test.php">./_controller</directory>
        </testsuite>
    </testsuites>
    
    <groups>
        <include>
            <group>fast</group>
            <group>slow</group>
        </include>
    </groups>
</phpunit>